

.navbar {
    background-color: rgb(20, 37, 37, 75);

}

.navbar-nav{
    gap: 50px;
}

body{
    background-image: url("/img/background1.png");
    text-align: center;

}
.btn-outline-success:hover{
    background-color: brown;
    border-color: brown;
}

.card {
    background-color: rgb(56, 57, 57);
    color: white;
}

.btn-primary{
    background-color: rgb(18, 108, 0);
    border: 0;
    color: black
}

.btn-primary:hover{
    background-color: rgb(43, 255, 0);
    border: 0;
    color: black
}